<!-- Define a function to render the goal -->
<% function renderGoal(goal) { %>
  <div class="item-details">
    <article>
      <h2>Title: <%= goal.title %></h2>
      <div><%= goal.description %></div>
      <p>
        <strong>Target Date:</strong> <%= formatDate(goal.targetDate) %><br />
        <strong>Achieved:</strong> <%= goal.achieved %>
      </p>
  
      <!-- Update button -->
      <form
        class="action-form"
        method="GET"
        action="/single-goal/update/<%= goal._id %>"
      >
        <button type="submit" class="update">update</button>
      </form>
  
      <!-- Delete button -->
      <form
        class="action-form"
        method="POST"
        action="/single-goal/<%= goal._id %>?_method=DELETE"
      >
        <button type="submit">delete</button>
      </form>
    </article>
  </div>
  <% } %>
  
  <% 
  function formatDate(dateString) {
      const date = new Date(dateString);
      // Format the date as desired (e.g., YYYY-MM-DD)
      const formattedDate = date.toLocaleDateString('fi-FI', { year: 'numeric', month: 'long', day: 'numeric' });
      return formattedDate;
  } 
  %>
  
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Single Goal</title>
      <link rel="stylesheet" href="/css/styles.css" />
      <!-- Link to external stylesheet -->
    </head>
    <body>
      <nav class="navbar">
        <h1>My Goals</h1>
        <div class="links">
          <a href="/">Home</a>
          <a class="new-item-link" href="/addgoal">New Goal</a>
        </div>
      </nav>
  
      <div class="content">
        <div class="home">
          <div class="item-list">
            <% if (goal) { %> <%= renderGoal(goal) %> <% } else { %>
            <p>No goal found.</p>
            <% } %>
          </div>
        </div>
      </div>
    </body>
  </html>